@charset "utf-8";
/* =========================================================== */
/* 공통 */
    *{      text-decoration: none; margin: 0 auto;}          
    body{   background-color: black; text-align: center;}
    p{      text-align: left; }
    #header{background-color:#e0e0e0;  font-size: 15px;  
            height: 40px; line-height: 40px; text-align: center; }


/*방문한 하이퍼링크 색갈 바뀌는거 없애기*/
	a{ color: black; text-decoration: none;}
    a:visited { color: black; text-decoration: none;}


/* 네비, 메뉴  */
    #nav{   background-color: white; font-size: 13px;  height: 21px;  text-align: center; padding-bottom: 10px;padding-top:10px ; 
            border-top: 1px solid lightgray; border-bottom: 1px solid lightgray;}
    .menu { padding-bottom: 5px; width: 25%; overflow: hidden;}
    .menu_active {display: inline-block; padding-bottom: 10px; border-bottom: 2px solid black; width: 100px; font-weight: bold;}      

/* 섹션 */
    /* 가운데 정렬 */
    #section{ padding-top: 1px; text-align: center;height: 90%;}
    /* 설명 문구 */
    .topBox{ display: inline-block; margin: 4px auto; border: 2px solid gray; padding: 5px; width: 80%; ; overflow:hidden; text-align: center; width: 95%;}
    /* 내용 들어갈 자리 */
    #article{display: inline-block; width:100% }
  
/* 푸터  */
    #footer{background-color: #383838; font-size: 12px; text-align: center; color:white}

/* =========================================================== */
/* 애니메이션 코드 */
    
    .leftBox:hover {animation: bounce .4s infinite;}
    .Qtable:hover {animation: bounce .4s infinite;}
    @keyframes bounce {  0%  {transform: scale(1)     } 
    50% {transform: scale(1.01) } 
    100%{transform: scale(1)     } }


/* 반응형 코드 */

    /* phone 클라스는 모바일 화면 크기 */
    .phone{ width: 950px; margin: auto; background-color: white; padding: 5px;}

    @media screen and (max-width: 940px){
        .phone{ width: 100%;  padding: 5px; } 
        #section{ padding-left: 0px;}
    }

/* =========================================================== */    
/* 개별 코드(그냥 수정 자주하는 것 모음) */

/* 내용 */
  .leftBox{ background-color: gray; width: 269px; height: 269px; display: inline-block; margin-bottom: 5px; overflow: hidden;}
  .leftBox_img{width: 100%;}

  
  
  /* 로그인 창 새로 추가된 부분 */
  .loginBox{ display: block; margin: 10px auto; border: 2px solid gray; padding: 5px; width: 80%; ; text-align: center;}
  .loginBox_Photo{ margin: 20px auto; background-color: gray; border-radius: 50%; height: 200px; width: 200px; overflow: hidden;}

/* 의뢰현황 테이블 */
    .Qtable{ display: inline-block;}
    .Qtable_Photo{ background-color:gray;}
    .Qtable_left{float: left;}
    .Qtable_right{float: right;}
    .Qtable_bar{ border: 2px solid #383838; background-color: white; height: 10px; margin-top: 10px; margin-left: 120px;}
    .Qtable_bar_inside{width:10%; background-color: #383838; height: 100%; float: left;}
    
/* 빈 여백  */
.white_space{height:30px}

/* 프로필 */
.Profile{margin: auto;}
.Profile tr td{width: 100px; font-size: 15px;}
.Profile_Photo{background-color: gray; border-radius: 50%; height: 120px; width: 120px; overflow: hidden;}
.MyPageBox{background-color: lightgray; width: 90%; margin: 5px; padding: 10px 5px; display: inline-block; }






/* 외부폴터 긁어오기 */
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  color: inherit;
  background-color: #eee;
  width: 80%
}
    
    
.form-control {
  display: block;
  width: 85%;
  margin: 10px auto;
  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
    
    .btn {
  display: inline-block;
  width : 80%;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  
  
  color: #fff;
  background-color: gray;
  border-color: gray;
  
}

